<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/main.css">
  <title>Twitter Posts</title>
</head>
<body>
  <h1>Twitter Posts</h1>
  <p>FUNNY TWEETS
@JokesMemesFacts
·
Sep 3, 2022
Study.... stu.... st.... s.... sl.... slee.... sleeping</p>
FUNNY TWEETS
@JokesMemesFacts
·
Sep 21, 2021
I just refuse to take a single bite of my food until I find something good to watch.</p>
FUNNY TWEETS
@JokesMemesFacts
·
Oct 21, 2021
When I hear myself eating crunchy food, I wonder if other people can hear it too.</p>
FUNNY TWEETS
@JokesMemesFacts
·
Aug 9, 2022
Imagine if sharks could run on the beach.</p>
FUNNY TWEETS
@JokesMemesFacts
·
Jul 21, 2019
Dear sleep, 

I'm sorry we broke up this morning. 

I want you back.</p>
FUNNY TWEETS
@JokesMemesFacts
·
Jun 7, 2020
I wish I could record my dreams and watch them later..</p>
</body>
</html>

